body {
    background-color: pink;
    padding: 0;
    margin: 0;
}

main {
     max-width: 1000px;
     padding: 15px;
     margin: auto;
     background-color: white;

}

article{
        margin: 15px;
}

.header {
    background-image: url("./pannkakor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;

}
.hero-content{
    
    padding: 15px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
    border: solid;
    margin: 20px 0;
     transition: color 1s ease 0.1s;
    
    
}
.hero-content:hover{
    color:orange
}

.content-section {
    padding: 15px;
}

.section-title {
    color: #950000;
}


.img-wrapper{
    display: flex;
    justify-content: start;
}

.img-wrapper img {
    width: 250px;
    height: auto;
}
