body {
    background-color: pink;
    padding: 0;
    margin: 0;
}

main {
    width: 1000px;
    margin: 0 auto;
    background-color: white;

}

.header {
    background-image: url("./pannkakor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;

}
.hero-content{
    
    padding: 15px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
    border: solid;
    transform: scale(0.8);
    transition-property: color;
    transition-duration: 1s;
    transition-delay: 0.1s;
    transition-timing-function: ease;
    
}
.hero-content:hover{
    color:orange
}

.content-section {
    padding: 15px;
}

.section-title {
    color: #950000;
}

.image-container{
    display: flex;
    gap: 10px;
}

.image-container img {
    width: 25%;
    height: auto;
    overflow: hidden;
}

.footer{
    background: linear-gradient(red, blue);
}
