body {
    background-color: pink;
    padding: 0;
    margin: 0;
}

main {
    width: 1000px;
    margin: 0 auto;
    background-color: white;

}

.header {
    background-image: url("./pannkakor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;

}

.content-section {
    padding: 15px;
}

.section-title {
    color: #950000;
}

.sub-title {
    background-color: blanchedalmond;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.images {
    display: flex;
    gap: 10px;
}

.images img {
    width: 45%;
    margin: 0 auto;
}